<br>
<br>
<br>
<br>
<h1>Update your Trip Information</h1>
<!-- //form to edit a trip -->

<form class="" action="/trips/<%=@trip.id%>" method="POST">
    <input type="hidden" name="_method" value="PUT">
<h3>Update Cargo Type:</h3>
<!-- //update description -->
    <select name="[update]description">
        <option value="passenger">passenger</option>
        <option value="freight">freight</option>
    </select>

<!-- //drop down for origin and destination --><h3>Update Trip Origin</h3>
    <select name="[update]origin">
        <option value="Venus">Venus</option>
        <option value="Earth">Earth</option>
        <option value="Moon">Moon</option>
        <option value="Mars">Mars</option>
        <option value="Ceres">Ceres</option>
    </select>
    <h3>Update Trip Destination</h3>
    <select name="[update]destination">
        <option value="Earth">Earth</option>
        <option value="Moon">Moon</option>
        <option value="Mars">Mars</option>
        <option value="Ceres">Ceres</option>
        <option value="Europa">Europa</option>
    </select>

<!-- // put in distance output??? -->
    <p>Current Total distance: <%= @trip.distance%> million miles.(final mileage will update after checkout)</p> 

<h3>Update Seat Count:</h3>
    <select name="[update]seats">
        <option value="6">6</option>
        <option value="10">10</option>
        <option value="12">12</option>
    </select>

<!-- // put in cost output??? -->
    <p>Total cost: $<%= @trip.cost%>.00 <em color:"green">(final price will be calculated after checkout)</em></p>


<!-- //submit that attaches to user id -->
    <!-- <input type="hidden" name="[update]user_id" value="<%= @current_user.id %>"> -->
    <input type="submit" name="" value="submit">
</form>
