<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Homepage</title>
</head>
<body>
	<h1>Welcome, <%= current_user.email %></h1>

	<img src="/assets/projector.png" style ="width:400px; height:400px;">
	<div id="screen_div"></div>
	<div id="sidebar_div"></div>
	<div id="topbar_div"></div>
	<div id="bottombar_div"></div>
</body>
</html>
