<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
<iframe id="vid" width="1325" height="1195" src="https://www.youtube.com/embed/n4IhCSMkADc?&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<!--start header-->
<div id="header_div">
  <nav>
    <h1 id="name_h1">IST</h1>
    <img id="a_pic" src="/assets/letterA.png" style ="width:70px;">
    <p id="home_p"><a href ="/">HOME</a></p>
    <p id="careers_p"><a href ="/careers">CAREERS</a></p>
    <p id="service_p"><a href ="/services">SERVICES</a></p>
    <p id="gallery_p"><a href ="/gallery">GALLERY</a></p>
  </nav>
</div>
<!--end header-->

<!--start main-->
<div id="main_div">
  <h2 id="main_h2">MAKING LIFE MULTIPLANETARY</h2>
  <button id="signup_button"><a href ="/users/sign_up">Become a Member</a></button>
  <p id="login_p">Already a member? <a href ="/users/sign_in">Click Here!</a></p>
</div>
<!--end main-->

<!--start div1-->
<div id="provide_div">
  <p id="provide_p">WE provde the BEST Inner Planetory Commercial Flight Services</p>
  <img src="/assets/provide.jpg" style ="width:1325px; height:600px;">
</div>
<!--end div1-->

<!--start div2-->
<div id="offer_div">
  <p id="offer_pic"><img src="/assets/whatWeOffer.jpg" style ="width:1325px; height:375px;"></p>
  <h2 id="offer_h2">What We Offer</h2>
  <h3 id="offer1_h3">Professional Team</h3>
  <h3 id="offer2_h3">Modern Space Fleet</h3>
  <h3 id="offer3_h3">Moderate Prices</h3>
  <h3 id="offer4_h3">Unbeaten Saftey Standards</h3>
  <p id="offer1_p">Reliable & Well-trained employees</p>
  <p id="offer2_p">Modern ships of all sizes</p>
  <p id="offer3_p">You won't find better prices anywhere</p>
  <p id="offer4_p">Our Sky-high insurance standards ensure absolute saftey</p>
  <img id="offer1_pic" src="/assets/professionalTeam.jpg" style ="width:125px; height:100px;">
  <img id="offer2_pic" src="/assets/spaceFleet.jpg" style ="width:125px; height:100px;">
  <img id="offer3_pic" src="/assets/moderatePrices.png" style ="width:125px; height:100px;">
  <img id="offer4_pic" src="/assets/safteyStandards.png" style ="width:125px; height:100px;">
  <div id="offer1_design"></div>
  <div id="offer2_design"></div>
  <div id="offer3_design"></div>
  <div id="offer4_design"></div>
</div>
<!--end div2-->

<!--start div3-->
<div id="misc_div">
  <p id="misc_pic"><img src="/assets/solarSystem.jpg" style ="width:1325px; height:225px;"></p>
  <h2 id="ISTA_h2">ISTA</h2>
  <p id="destination_p"><a href ="/destination">DESTINATIONS</a></p>
  <p id="pReqs_p"><a href ="/requirments">PILOT REQUIRMENTS</a></p>
  <p id="pEarn_p"><a href ="/earnings">PILOT EARNINGS</a></p>
  <p id="pJobs_p"><a href ="/jobs">PILOT JOBS</a></p>
  <p id="street_p">SHEPORD ROAD</p>
  <p id="cityState_p">PHILADELPHIA, PENNSYLVANIA</p>
  <div id="misc1_design"></div>
  <div id="misc2_design"></div>
</div>
<!--end div3-->

<!--Start footer-->
<div id="footer_div">
  <h3 id="follow_h3">Follow ISTA</h3>
  <div id="footer1_design"></div>
  <p id="twitter_p"><a href ="https://twitter.com/NASA">Twitter</a></p>
  <p id="tube_p"><a href ="https://www.youtube.com/user/NASAtelevision/about">Youtube</a></p>
  <p id="gram_p"><a href ="https://www.instagram.com/nasa/?hl=en">Instagram</a></p>
  <p id="corp_p">©2018 ISTA Corp.</p>
</div>
<!--End footer-->

<!--add sticky module-->
