<div id="mainREQ_div">
  <div id="requirments_div">
    <h1 id="requirments_h1">REQUIRMENTS</h1>
    <h2 id="question_h2">Who wants to be a IPTA pilot?</h2>
    <img id="spaceman_img"src="/assets/spaceman.png">
    <div id="general_div">
      <p>General Critera</p>
      <p>*U.S. Citizen</p>
      <p>*Pilot's License</p>
      <p>*B.S. Degree in stem program</p>
      <p>*1,000+ hours piloting jet aircraft</p>
    </div>
  </div>
  <div id="physical_div">
    <h1 id="physical_h1">Physical Fitness</h1>
    <h1 id="moral_h1">Assessing moral-psychological qualities</h1>

    <div id=pf_div>
      <p>Swim test(treading water in flight suit and tennis shoes)</p>
      <p>Repeated exposure to microgravity and periods of weightlessness</p>
      <p>Distant and near visual acuity must be correctable to 20/20(Glasses acceptable as well as surgical procedures)</p>
    </div>

    <div id="picsOne_div">
      <img src="/assets/letterA.png" style ="width:50px; height:50px;">
      <img src="/assets/letterA.png" style ="width:50px; height:50px;">
      <img src="/assets/letterA.png" style ="width:50px; height:50px;">
    </div>

    <div id="rowOne_div">
      <p>Temperment, personality traits, motives, etc.</p>
      <p>Creative potential and ability to study</p>
      <p>Stress resistance, ability to work under pressure</p>
    </div>

    <div id="picsTwo_div">
      <img src="/assets/letterA.png" style ="width:50px; height:50px;">
      <img src="/assets/letterA.png" style ="width:50px; height:50px;">
      <img src="/assets/letterA.png" style ="width:50px; height:50px;">
    </div>

    <div id="rowTwo_div">
      <p>Moral values, attitude toward people</p>
      <p>Positive cooperation and tolerance</p>
      <p>Memory, attention and perception</p>
    </div>

  </div>
</div>
