<div id="mainREQ_div">
  <div id="requirments_div">
    <h1 id="requirments_h1">REQUIRMENTS</h1>
    <h2 id="question_h2">Who wants to be a IPTA pilot?</h2>
    <img id="spaceman_img"src="/assets/spaceman.png">
    <div id="general_div">
      <p>General Critera</p>
      <p>*U.S. Citizen</p>
      <p>*Pilot's License</p>
      <p>*B.S. Degree in stem program</p>
      <p>*1,000+ hours piloting jet aircraft</p>
    </div>
  </div>
  <div id="physical_div">
    <h1>Physical Fitness</h1>
    <h1>Assessing moral-psychological qualities</h1>

    <p>Swim test(treading water in flight suit and tennis shoes)</p>
    <p>Repeated exposure to microgravity and periods of weightlessness</p>
    <p></p>

    <img src="" alt="">
    <p>Temperment, personality traits, motives, etc.</p>
    <img src="" alt="">
    <p>Moral values, attitude toward people</p>
    <img src="" alt="">
    <p>Creative potential and ability to study</p>
    <img src="" alt="">
    <p>Positive cooperation and tolerance</p>
    <img src="" alt="">
    <p></p>
    <img src="" alt="">
    <p>Stress resistance, ability to work under pressure</p>
  </div>
</div>
