<h1>Ships#feed</h1>
<p>Find me in app/views/ships/feed.html.erb</p>


<!-- this shows all your ships -->

    <div id="allships">
        <h4><% @ships.each do |ship| %></h4>

        <h4><a href="/ships/personal/<%= ship_id %>"><h4><%= ship.veh_name%></a></h4>
            <p><%= ship.veh_location%></p>
            <p>It has <%= ship.seats%> seats</p>
    </div>

    <% end %>
<% end %>
