<br>
<br><br>
<br><br>
<br><br>
<br>
<br>
<br>
<div class="container">

    <% @ship.each do |ship| %>

          <img src="/assets/test.png" class="image" style="width:50%">
              <div class="middle">
                <div class="text">
          <h4>
            <%= link_to ship.veh_name, ship_path(ship) %>


        </h4>
          <!-- //this shows all ships -->
              <p><%= ship.veh_location%></p>
              <p>It has <%= ship.seats%> seats</p>


            </div>
          </div>
    <% end %>

</div>
